/* Standings / Stats
 * http://localhost/testbkherrar/matcher?seasonid=96069&showtable=true
 * http://localhost/testbkherrar/match/3567202/malmo-ff
 * http://localhost/testbkherrar - Tables on the right
 *******************************************/
table.standings {
    table-layout: fixed;
    font-size: 14px;
    width:100%;
}
.standings tbody {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

    /**/
    table.standings tbody tr td {
        border-color: #ebebeb;
        vertical-align: middle;
        padding: 9px 5px 8px 5px;
    }


    /* Striped */
    table.standings tbody tr:nth-child(odd) {
        background-color: #f5f5f5;
    }

    /* Season divider */
    table.standings tr.line td {
        border-bottom: 1px solid #cccccc;
    }


    /* Icons */
    table.standings td img {
        position: relative;
        top: -1px;
        margin-right: 4px;
    }
    table.standings tbody tr td img {
        height: 24px;
        vertical-align: middle;
    }


    /* Small Table on startpage (and import/new/edit season popup) */
    table.standings.small {
        font-size: 12px;
    }
    table.standings.small tbody tr td {
        padding: 5px 0px 4px 0px;
        line-height: 20px;
    }

        table.standings.small td:first-child,
        table.standings.small th:first-child {
            padding-left: 3px;
        }

        table.standings.small td:last-child,
        table.standings.small th:last-child {
            padding-right: 3px;
        }


    table.standings.small tbody tr td img {
        height: 20px;
    }