/* Widths *****************************************************************************************************************/
.full, .full-width { width: 100%; }
.w120 {  width: 120px;  }
.w-100 { width: 100px !important; }


/* Display and Layout *****************************************************************************************************************/
.hide { display:none; }
.inline-block {	display: inline-block; }
.clear { clear:both; }
.rounded { border-radius: 100px; }
.overflow-hidden {overflow: hidden;}


/* Colors */
.o-70 {	opacity: 0.7; }

.bg-default { background: #fff; }
.grayscale { -webkit-filter: grayscale(100%); filter: grayscale(100%); }


.left {float:left;}
.right {float:right;}


/* Utility Classes */
.cursor-default {cursor: default!important;}
.pointer {cursor: pointer;} 


/* Clear */
.clear-left { clear:left; }
.clear-right { clear:right; }
.clear { clear:both; }